.navbar-dark{
    background-color:rgb(95, 17, 30);
    font-size: 120%;
}
.navbar-brand{
    font-size:150%;
}
.jumbotron{
    padding-top:250px ;
    padding-bottom:150px;
    background-color: rgb(248, 103, 127);
    color:floralwhite;
}
body{
    background-color:rgb(250, 250, 175);
    
}
#description{
    text-align: center;
}
hr{
    width:70%;
    min-height: 20px;
}
.footer{
    padding:50px;
    background-color: rgb(180, 58, 78);
    color:white;
}
#animate{
    padding:60px;
}
.row{
    margin-bottom:100px;
}

.card-img-top{
    height:500px;
    
}
.card-title{
    font-family: 'Pacifico', cursive;
}
.img-responsive{
    height:400px;
    width:100;
}

#links :hover,:active{
    color:black;
}
li{
    padding:40px;
    font-family: 'Amiri', serif;

}